<div>
    <form class="form-inline" onsubmit="editfood()">
        <div class="form-group">
            <label for="food">Description:</label>
            <input type="email" class="form-control" id="food">
        </div>
        <div class="form-group">
            <label for="phemultiplier">PHE Multiplier</label>
            <input type="number" class="form-control" id="phemultiplier">
            <label>mgPHE/g</label>
        </div>
        <button type="submit" class="btn btn-default">Save</button>
    </form>
</div>
