<div>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Food</th>
        <th scope="col">Grams</th>
        <th scope="col">mgPHE/g</th>
        <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Waffles</td>
        <td>28</td>
        <td>16.0</td>
        <td>10/25/2019</td>
    </tr>
    </tbody>
</table>
</div>

