<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Description</th>
        <th scope="col">PHE Multiplier</th>
        <th scope="col">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {{#each food}}
        <tr>
            <td>{{ description }}</td>
            <td>{{ phe_multiplier }}</td>
            <td><a class='btn btn-primary' href="/today/addfood/{{ _id }}">Log</a></td>
        </tr>
    {{/each}}
    </tbody>
</table>
