<header>
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#">
                </a>
                <span class="navbar-text title-header">{{title}}</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars text-white"></span>
                </button>
                <div class="collapse navbar-collapse mr-auto" id="navbarText">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/logfood">Log Meal/Snack</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/records">Diet Records</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/foods">Food Lists</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/account">Account</a>
                        </li>
                        <li class="nav-item active">
                            <span>{{ username }}</span>
                            <a class="nav-link" href="/">Sign-out</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
