<div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Goal</th>
            <th scope="col">Final</th>
            <th scope="col">Notes</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>10/25/2019</td>
            <td>790</td>
            <td>781</td>
            <td></td>
            <td><a href="/records/details">View</a></td>
        </tr>        <tr>
            <td>10/26/2019</td>
            <td>790</td>
            <td>480</td>
            <td>Not feeling well.</td>
            <td><a href="/records/details">View</a></td>
        </tr>        <tr>
            <td>10/27/2019</td>
            <td>790</td>
            <td>821</td>
            <td></td>
            <td><a href="/records/details">View</a></td>
        </tr>
        </tbody>
    </table>
</div>
