<div class="tot_board row">
    <span class="col-4">
    Target PHE intake: {{ totals.target_phe }} mgPHE/g</span>
    <span class="col-4">
    Daily Total: {{ totals.daily_total }} mgPHE/g</span>
    <span class="col-4">
    Remaining Goal: {{ totals.remaining_goal }} mgPHE/g</span>
</div>
