<h1>We are PHE Logs</h1>
<p>We are a PKU family.  In 2001, our son was born happy and healthy.  Eight days later, we received a call from our pediatrician that changed our lives.  We had never heard of PKU, but it was now ingrained in our lives.</p>
<p>We eventually made it a game of being able to recite the PHE multipliers of different foods.  Eventually, the number of new foods not listed in the book were too great, and we started losing track.  Being able to keep diet records became a chore.</p>
<p>PHE Logs is an application created to support tracking PHE with the least amount of challenge.  Keeping the records in the reach of our dietitians is a must for proper tracking of diet.  </p>
