<div>
    <h1>{{title}} - Foods List</h1>
    <div>
        <form id="food-list" method="post">
            <label for="food-list">Search Food Lists:</label>
            <input type="text" id="foodName" name="foodName"/>
            <button onclick="document.getElementById('food-list').submit();return false;"><i class="fas fa-search"></i></button>
        </form>
    </div>

    {{> foods_list food=food }}
</div>
