

<div>
    <h1>Foods List</h1>

    <div>
        <h2>Search Food Lists:</h2>
        <input type="text" />
        <button onclick="filterfoods()"><i class="fas fa-search"></i></button>
    </div>

    {{> foods_list }}

    {{> edit_food }}


</div>
