

<div>
    <h1>{{title}} - Foods List</h1>
    <div>
        <h2>Search Food Lists:</h2>
        <input type="text" id="searchby"/>
        <button onclick="filterfoods()"><i class="fas fa-search"></i></button>
    </div>

    {{> foods_list food=food }}

    {{> edit_food }}


</div>
