<div>
    <div>
    <span class="title-header">Diet record for 10/25/2019:</span>
    <button class="float-right" onclick="print_record()">Print</button>
    </div>
    {{> entry_list }}
    {{> tot_board }}
</div>
