<div>
    <div>
    <span class="title-header">Diet record for {{ record.date }}:</span>
    <button class="float-right" onclick="print_record()">Print</button>
    </div>
    {{> entry_list entries=record.diet_record_details }}
    {{> tot_board totals=tot_board }}
</div>
